In [1]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = 'stations.csv'  # Update with your actual file path if necessary
df = pd.read_csv(file_path)

# Filter rows where the 'state' column has the value 'SP'
sp_data = df[df['state'] == 'RJ']

print(sp_data)

    region state                  city_station id_station           lat  \
3       SE    RJ             ECOLOGIA AGRICOLA       A601         -22,8
28      SE    RJ                     MARAMBAIA       A602        -23,05
29      SE    RJ                         XEREM       A603  -22,58972221
30      SE    RJ                       CAMBUCI       A604  -21,56666666
113     SE    RJ               ARRAIAL DO CABO       A606  -22,98333333
114     SE    RJ                        CAMPOS       A607  -21,71666666
115     SE    RJ                         MACAE       A608  -22,38333333
116     SE    RJ                       RESENDE       A609        -22,45
117     SE    RJ                 PICO DO COUTO       A610  -22,48166666
118     SE    RJ                       VALENCA       A611        -22,35
119     SE    RJ                   TERESOPOLIS       A618  -22,44888888
120     SE    RJ                        PARATI       A619  -23,22333332
237     SE    RJ                  VILA MILITAR       A621  -22,86083333
238     SE    RJ           FORTE DE COPACABANA       A652  -22,98833333
384     SE    RJ                      SAO TOME       A620  -22,04166666
442     SE    RJ                 NOVA FRIBURGO       A624  -22,33305554
482     SE    RJ                  SILVA JARDIM       A659  -22,64583333
483     SE    RJ                     SAQUAREMA       A667   -22,8711111
516     SE    RJ                     TRES RIOS       A625  -22,09833333
517     SE    RJ                     RIO CLARO       A626  -22,65361111
552     SE    RJ                ANGRA DOS REIS       A628  -22,97583332
553     SE    RJ                      ITATIAIA       A635  -22,37388888
554     SE    RJ  RIO DE JANEIRO - JACAREPAGUA       A636  -22,93972221
591     SE    RJ                       NITEROI       A627  -22,86749999
592     SE    RJ                         CARMO       A629   -21,9386111
593     SE    RJ          SANTA MARIA MADALENA       A630  -21,95055555
613     SE    RJ      Paty do Alferes - Avelar       A637  -22,34722221

              lon     lvl record_first record_last
3    -43,68333333      33   2000-05-07  2023-08-31
28          -43,6     9,7   2002-11-08  2023-08-31
29   -43,28222221      33   2002-10-21  2023-08-31
30         -41,95      35   2002-11-20  2023-08-31
113  -42,01666666       4   2006-09-24  2023-08-31
114        -41,35      25   2006-09-25  2023-08-31
115  -41,81666667      32   2006-09-22  2023-08-31
116        -44,45  439,89   2006-09-29  2023-08-31
117  -43,29138888    1777   2006-10-22  2023-08-31
118         -43,7     367   2006-09-27  2023-08-31
119  -42,98722221     980   2006-11-01  2023-08-31
120  -44,72666666       5   2006-11-19  2023-08-31
237  -43,41111111      45   2007-04-13  2023-08-31
238  -43,19027777      42   2007-05-18  2023-08-31
384  -41,05194444       8   2008-06-13  2023-08-31
442  -42,67722221    1046   2010-09-17  2023-08-31
482  -42,41583333      19   2015-08-28  2023-08-31
483  -42,60916666      16   2015-09-02  2023-08-31
516  -43,20861111     305   2016-06-08  2023-08-31
517  -44,04083333     516   2016-06-03  2023-08-31
552  -44,30333333       6   2017-08-25  2023-08-31
553  -44,70305555    2450   2017-09-01  2021-12-31
554  -43,40277777      20   2017-08-10  2023-08-31
591  -43,10194444       6   2018-07-13  2023-08-31
592  -42,60083333     293   2018-10-11  2023-08-31
593  -42,01055555     517   2018-10-16  2023-08-31
613  -43,41777777     508   2022-10-11  2023-08-31

In [2]:
# Replace ',' with '.' in both 'lat' and 'long' columns
df['lat'] = df['lat'].str.replace(',', '.')
df['lon'] = df['lon'].str.replace(',', '.')

# Convert to float type (optional, if needed for further calculations)
df['lat'] = df['lat'].astype(float)
df['lon'] = df['lon'].astype(float)

print(df)

    region state               city_station id_station        lat        lon  \
0       CO    DF                   BRASILIA       A001 -15.789444 -47.925833
1       NE    BA                   SALVADOR       A401 -13.016667 -38.516667
2        N    AM                     MANAUS       A101  -3.103333 -60.016389
3       SE    RJ          ECOLOGIA AGRICOLA       A601 -22.800000 -43.683333
4        S    RS               PORTO ALEGRE       A801 -30.050000 -51.166667
..     ...   ...                        ...        ...        ...        ...
610      N    PA  SANTA MARIA DAS BARREIRAS       A256  -8.729722 -49.856389
611     SE    MG                     POMPEU       A560 -19.232500 -44.964167
612      N    PA               PORTO DE MOZ       A245  -1.821944 -52.111667
613     SE    RJ   Paty do Alferes - Avelar       A637 -22.347222 -43.417778
614      S    RS   PORTO ALEGRE- BELEM NOVO       B807 -30.186111 -51.178056

         lvl record_first record_last
0    1159,54   2000-05-07  2023-08-31
1      51,41   2000-05-13  2023-08-31
2      61,25   2000-05-09  2023-08-31
3         33   2000-05-07  2023-08-31
4      46,97   2000-09-22  2023-08-31
..       ...          ...         ...
610      165   2020-12-18  2023-08-31
611      705   2015-08-21  2023-08-31
612       19   2022-07-04  2023-08-31
613      508   2022-10-11  2023-08-31
614      3,3   2022-08-12  2023-08-31

[615 rows x 9 columns]

In [3]:
sp_data = df[df['state'] == 'RJ']
print(sp_data)

    region state                  city_station id_station        lat  \
3       SE    RJ             ECOLOGIA AGRICOLA       A601 -22.800000
28      SE    RJ                     MARAMBAIA       A602 -23.050000
29      SE    RJ                         XEREM       A603 -22.589722
30      SE    RJ                       CAMBUCI       A604 -21.566667
113     SE    RJ               ARRAIAL DO CABO       A606 -22.983333
114     SE    RJ                        CAMPOS       A607 -21.716667
115     SE    RJ                         MACAE       A608 -22.383333
116     SE    RJ                       RESENDE       A609 -22.450000
117     SE    RJ                 PICO DO COUTO       A610 -22.481667
118     SE    RJ                       VALENCA       A611 -22.350000
119     SE    RJ                   TERESOPOLIS       A618 -22.448889
120     SE    RJ                        PARATI       A619 -23.223333
237     SE    RJ                  VILA MILITAR       A621 -22.860833
238     SE    RJ           FORTE DE COPACABANA       A652 -22.988333
384     SE    RJ                      SAO TOME       A620 -22.041667
442     SE    RJ                 NOVA FRIBURGO       A624 -22.333056
482     SE    RJ                  SILVA JARDIM       A659 -22.645833
483     SE    RJ                     SAQUAREMA       A667 -22.871111
516     SE    RJ                     TRES RIOS       A625 -22.098333
517     SE    RJ                     RIO CLARO       A626 -22.653611
552     SE    RJ                ANGRA DOS REIS       A628 -22.975833
553     SE    RJ                      ITATIAIA       A635 -22.373889
554     SE    RJ  RIO DE JANEIRO - JACAREPAGUA       A636 -22.939722
591     SE    RJ                       NITEROI       A627 -22.867500
592     SE    RJ                         CARMO       A629 -21.938611
593     SE    RJ          SANTA MARIA MADALENA       A630 -21.950556
613     SE    RJ      Paty do Alferes - Avelar       A637 -22.347222

           lon     lvl record_first record_last
3   -43.683333      33   2000-05-07  2023-08-31
28  -43.600000     9,7   2002-11-08  2023-08-31
29  -43.282222      33   2002-10-21  2023-08-31
30  -41.950000      35   2002-11-20  2023-08-31
113 -42.016667       4   2006-09-24  2023-08-31
114 -41.350000      25   2006-09-25  2023-08-31
115 -41.816667      32   2006-09-22  2023-08-31
116 -44.450000  439,89   2006-09-29  2023-08-31
117 -43.291389    1777   2006-10-22  2023-08-31
118 -43.700000     367   2006-09-27  2023-08-31
119 -42.987222     980   2006-11-01  2023-08-31
120 -44.726667       5   2006-11-19  2023-08-31
237 -43.411111      45   2007-04-13  2023-08-31
238 -43.190278      42   2007-05-18  2023-08-31
384 -41.051944       8   2008-06-13  2023-08-31
442 -42.677222    1046   2010-09-17  2023-08-31
482 -42.415833      19   2015-08-28  2023-08-31
483 -42.609167      16   2015-09-02  2023-08-31
516 -43.208611     305   2016-06-08  2023-08-31
517 -44.040833     516   2016-06-03  2023-08-31
552 -44.303333       6   2017-08-25  2023-08-31
553 -44.703056    2450   2017-09-01  2021-12-31
554 -43.402778      20   2017-08-10  2023-08-31
591 -43.101944       6   2018-07-13  2023-08-31
592 -42.600833     293   2018-10-11  2023-08-31
593 -42.010556     517   2018-10-16  2023-08-31
613 -43.417778     508   2022-10-11  2023-08-31

In [4]:
output_file_path = 'stations_RIO.csv'
sp_data.to_csv(output_file_path, index=False)

print(f"Filtered data saved to {output_file_path}")

Filtered data saved to stations_RIO.csv