In [150]:
import pandas as pd

In [151]:
file_path = 'stations_RIO.csv'  # Ensure this file contains latitude, longitude, and city data
df = pd.read_csv(file_path) 

file_path3 = 'weather_sum_all.csv'
df2 = pd.read_csv(file_path3)

In [152]:
print(df2)

        ESTACAO DATA (YYYY-MM-DD)  rain_max  rad_max   temp_avg  temp_max  \
0          A001        2000-05-07       0.0   2915.0  25.125000      28.3
1          A001        2000-05-08       0.0   3126.0  22.104167      28.2
2          A001        2000-05-09       0.0   2901.0  22.041667      28.7
3          A001        2000-05-10       0.0   2972.0  22.462500      28.9
4          A001        2000-05-11       0.0   2958.0  21.329167      27.3
...         ...               ...       ...      ...        ...       ...
2740766    A898        2023-08-27       0.0   3083.2   6.962500      14.7
2740767    A898        2023-08-28       0.0   2891.9   8.795833      15.5
2740768    A898        2023-08-29       0.0   2833.8  10.954167      18.8
2740769    A898        2023-08-30       0.2   3102.5  12.500000      21.7
2740770    A898        2023-08-31       0.0   3007.6  15.400000      23.0

         temp_min  hum_max  hum_min  wind_max  wind_avg
0            20.7     69.0     36.0       6.3  1.766667
1            16.5     86.0     33.0       7.1  2.066667
2            16.6     79.0     37.0       7.0  1.150000
3            17.7     82.0     35.0       6.3  2.008333
4            16.6     80.0     35.0       7.3  2.670833
...           ...      ...      ...       ...       ...
2740766       0.5     99.0     39.0       8.9  3.387500
2740767       3.5     96.0     54.0       9.8  4.325000
2740768       5.1     95.0     46.0      11.3  4.233333
2740769       5.5     99.0     39.0       6.8  2.933333
2740770       8.8     99.0     45.0       8.1  3.091667

[2740771 rows x 11 columns]

In [153]:
df2 = df2.rename(columns={'DATA (YYYY-MM-DD)': 'DATA'})

In [154]:
df2['DATA'] = pd.to_datetime(df2['DATA'], errors='coerce')
# Check if there are any NaT values after conversion
print(df2[df2['DATA'].isna()])

# Display the processed dataframe
print(df2)

Empty DataFrame
Columns: [ESTACAO, DATA, rain_max, rad_max, temp_avg, temp_max, temp_min, hum_max, hum_min, wind_max, wind_avg]
Index: []
        ESTACAO       DATA  rain_max  rad_max   temp_avg  temp_max  temp_min  \
0          A001 2000-05-07       0.0   2915.0  25.125000      28.3      20.7
1          A001 2000-05-08       0.0   3126.0  22.104167      28.2      16.5
2          A001 2000-05-09       0.0   2901.0  22.041667      28.7      16.6
3          A001 2000-05-10       0.0   2972.0  22.462500      28.9      17.7
4          A001 2000-05-11       0.0   2958.0  21.329167      27.3      16.6
...         ...        ...       ...      ...        ...       ...       ...
2740766    A898 2023-08-27       0.0   3083.2   6.962500      14.7       0.5
2740767    A898 2023-08-28       0.0   2891.9   8.795833      15.5       3.5
2740768    A898 2023-08-29       0.0   2833.8  10.954167      18.8       5.1
2740769    A898 2023-08-30       0.2   3102.5  12.500000      21.7       5.5
2740770    A898 2023-08-31       0.0   3007.6  15.400000      23.0       8.8

         hum_max  hum_min  wind_max  wind_avg
0           69.0     36.0       6.3  1.766667
1           86.0     33.0       7.1  2.066667
2           79.0     37.0       7.0  1.150000
3           82.0     35.0       6.3  2.008333
4           80.0     35.0       7.3  2.670833
...          ...      ...       ...       ...
2740766     99.0     39.0       8.9  3.387500
2740767     96.0     54.0       9.8  4.325000
2740768     95.0     46.0      11.3  4.233333
2740769     99.0     39.0       6.8  2.933333
2740770     99.0     45.0       8.1  3.091667

[2740771 rows x 11 columns]

In [155]:
print(df2['DATA'].dtype)

datetime64[ns]

In [156]:

# Define the date range
start_date = pd.to_datetime('2012-01-01')
end_date = pd.to_datetime('2022-12-31')

# Filter the data to include only dates within the range
df2 = df2[(df2['DATA'] >= start_date) & (df2['DATA'] < end_date)]

# Display the filtered data to ensure correctness
print(df2)

        ESTACAO       DATA  rain_max  rad_max   temp_avg  temp_max  temp_min  \
736378     A001 2012-01-01       2.6   3032.9  20.462500      25.2      17.9
736379     A001 2012-01-02       6.2   1096.2  19.191667      20.8      18.3
736380     A001 2012-01-03       6.0   2150.2  19.429167      24.1      17.8
736381     A001 2012-01-04       0.2   3443.6  20.166667      25.9      15.6
736382     A001 2012-01-05       0.0   3703.5  20.654167      26.5      16.5
...         ...        ...       ...      ...        ...       ...       ...
2621041    A898 2022-12-26       0.0   3611.0  21.091667      28.3      15.4
2621042    A898 2022-12-27       0.2   3089.5  21.166667      28.6      16.6
2621043    A898 2022-12-28       1.6   3631.9  19.491667      24.2      16.8
2621044    A898 2022-12-29       0.0   3864.0  19.920833      26.2      13.8
2621045    A898 2022-12-30       0.0   3816.9  20.104167      27.9      12.3

         hum_max  hum_min  wind_max  wind_avg
736378      96.0     64.0      11.9  3.800000
736379      96.0     80.0      16.0  4.404167
736380      96.0     58.0       8.3  2.139130
736381      97.0     54.0       8.0  2.529167
736382      94.0     52.0       9.0  3.183333
...          ...      ...       ...       ...
2621041     97.0     39.0       9.1  2.575000
2621042     97.0     48.0      12.7  3.629167
2621043     96.0     52.0      13.4  4.150000
2621044     77.0     30.0       8.0  2.354167
2621045     96.0     33.0       9.0  3.195833

[1884190 rows x 11 columns]

In [157]:
file_path = 'stations_RIO.csv'  # Ensure this file contains latitude, longitude, and city data
df3 = pd.read_csv(file_path) 
# Filter the weather data to include only rows where 'ESTACAO' matches 'id_station' from stations_rj.csv
df2 = df2[df2['ESTACAO'].isin(df3['id_station'])]

print(df2)

        ESTACAO       DATA  rain_max  rad_max   temp_avg  temp_max  temp_min  \
854199     A603 2012-01-01       NaN    601.3  23.962500      25.5      22.7
854200     A603 2012-01-02       NaN    776.8  21.383333      23.8      20.2
854201     A603 2012-01-03       NaN   3801.1  22.600000      29.8      17.4
854202     A603 2012-01-04       NaN   2782.1  22.966667      28.9      18.3
854203     A603 2012-01-05       NaN   3611.2  23.820833      30.1      17.7
...         ...        ...       ...      ...        ...       ...       ...
2580108    A667 2022-12-26       0.4   1488.4  25.404167      28.9      22.9
2580109    A667 2022-12-27       1.2   3906.0  26.987500      33.3      21.7
2580110    A667 2022-12-28      17.2   3362.8  26.745833      32.7      22.8
2580111    A667 2022-12-29      10.2   2802.8  26.945833      33.1      22.7
2580112    A667 2022-12-30       7.2    761.7  22.716667      23.9      20.6

         hum_max  hum_min  wind_max  wind_avg
854199      96.0     88.0       3.9  0.570833
854200      96.0     91.0       4.2  0.450000
854201      96.0     48.0      10.0  1.233333
854202      96.0     60.0       6.9  0.775000
854203      97.0     55.0       8.6  0.929167
...          ...      ...       ...       ...
2580108     85.0     60.0      12.6  2.541667
2580109     92.0     42.0      11.1  2.145833
2580110     92.0     45.0      12.6  1.237500
2580111     92.0     44.0      10.7  2.083333
2580112     92.0     74.0       5.7  1.041667

[81792 rows x 11 columns]

In [158]:
columns_to_check = [
    'ESTACAO', 
    'rain_max'
]

# Count NaN values in the specified columns
nan_counts = df2[columns_to_check].isna().sum()

# Display the number of NaN values in each specified column
print(nan_counts)

ESTACAO        0
rain_max    1269
dtype: int64

In [159]:
df2 =df2.drop(columns=['rad_max'])

In [160]:
df2['week'] = df2['DATA'].dt.strftime('%Y%U')

In [161]:
# Define aggregation logic for each column
aggregation = {
    'rain_max': ['mean', 'max'],  # Average rainfall and maximum rainfall in a week
    'temp_avg': 'mean',  # Average temperature
    'temp_max': 'max',  # Maximum temperature in a week
    'temp_min': 'min',  # Minimum temperature in a week
    'hum_max': 'max',  # Maximum humidity in a week
    'hum_min': 'min',  # Minimum humidity in a week
    'wind_max': 'max',  # Maximum wind speed in a week
    'wind_avg': 'mean'  # Average wind speed in a week
}

# Apply the aggregation grouped by 'ESTACAO' and 'week'
weekly_data = df2.groupby(['ESTACAO', 'week']).agg(aggregation)

# Flatten the multi-level columns
weekly_data.columns = ['_'.join(col).strip() for col in weekly_data.columns.values]

# Rename 'rain_max_mean' to 'precipitation_avg' and 'rain_max_max' to 'precipitation_max'
weekly_data = weekly_data.rename(columns={'rain_max_mean': 'precipitation_avg', 'rain_max_max': 'precipitation_max'})

# Reset the index to have a clean DataFrame
weekly_data = weekly_data.reset_index()

# Display the final DataFrame
print(weekly_data)

      ESTACAO    week  precipitation_avg  precipitation_max  temp_avg_mean  \
0        A601  201201          14.171429               66.2      23.864286
1        A601  201202           5.057143               22.8      25.220238
2        A601  201203           2.428571                7.0      26.188095
3        A601  201204           1.028571                2.8      25.851786
4        A601  201205           2.400000               13.0      25.044048
...       ...     ...                ...                ...            ...
11941    A667  202248           2.200000               11.6      24.436905
11942    A667  202249           0.371429                1.4      24.792857
11943    A667  202250           0.828571                3.8      24.713613
11944    A667  202251           4.742857               14.6      22.452381
11945    A667  202252           6.033333               17.2      25.660417

       temp_max_max  temp_min_min  hum_max_max  hum_min_min  wind_max_max  \
0              33.6          18.1        100.0         48.0          19.1
1              35.5          19.2        100.0         46.0          24.2
2              34.6          21.7         99.0         39.0          12.8
3              35.0          18.9         99.0         34.0          12.5
4              34.2          18.6        100.0         35.0          13.0
...             ...           ...          ...          ...           ...
11941          30.3          20.1         93.0         62.0          15.0
11942          32.6          17.7         93.0         45.0          11.8
11943          34.2          16.3         93.0         35.0          12.9
11944          27.3          18.5         93.0         54.0          10.7
11945          33.3          20.6         92.0         42.0          12.6

       wind_avg_mean
0           2.323214
1           2.076190
2           2.236310
3           2.719048
4           2.305952
...              ...
11941       3.717857
11942       2.013690
11943       1.906056
11944       1.765217
11945       2.068750

[11946 rows x 11 columns]

In [162]:
columns_to_check = [
    'ESTACAO', 
    'week', 
    'precipitation_avg', 
    'precipitation_max', 
    'temp_avg_mean', 
    'temp_max_max', 
    'temp_min_min', 
    'hum_max_max', 
    'hum_min_min', 
    'wind_max_max'
]

# Count NaN values in the specified columns
nan_counts = weekly_data[columns_to_check].isna().sum()

# Display the number of NaN values in each specified column
print(nan_counts)

ESTACAO                0
week                   0
precipitation_avg    161
precipitation_max    161
temp_avg_mean          0
temp_max_max           2
temp_min_min           2
hum_max_max           89
hum_min_min          113
wind_max_max         302
dtype: int64

In [163]:
# Filter for rows where either precipitation_avg or precipitation_max is NaN
missing_precipitation = weekly_data[weekly_data['precipitation_avg'].isna() | weekly_data['precipitation_max'].isna()]

# Display the rows with NaN in either column
print(missing_precipitation)

      ESTACAO    week  precipitation_avg  precipitation_max  temp_avg_mean  \
9        A601  201210                NaN                NaN      25.714881
10       A601  201211                NaN                NaN      25.825000
11       A601  201212                NaN                NaN      25.030202
12       A601  201213                NaN                NaN      24.473810
13       A601  201214                NaN                NaN      25.083333
...       ...     ...                ...                ...            ...
9992     A630  202125                NaN                NaN      20.436735
11831    A667  202044                NaN                NaN      22.151187
11832    A667  202045                NaN                NaN      25.533247
11833    A667  202046                NaN                NaN      25.468333
11834    A667  202047                NaN                NaN      26.757749

       temp_max_max  temp_min_min  hum_max_max  hum_min_min  wind_max_max  \
9              34.7          19.2         99.0         40.0          12.3
10             36.4          19.7         99.0         38.0          12.3
11             36.6          19.2         99.0         38.0          12.7
12             34.5          18.8        100.0         48.0          15.8
13             33.1          20.3        100.0         48.0          12.7
...             ...           ...          ...          ...           ...
9992           24.7          12.5        100.0         48.0           7.1
11831          26.3          14.8         95.0         44.0          11.0
11832          28.7          21.1         94.0         62.0           6.3
11833          32.6          17.5         95.0         50.0          12.7
11834          32.9          17.9         94.0         44.0          10.7

       wind_avg_mean
9           2.236905
10          2.493452
11          1.994281
12          1.875595
13          2.215476
...              ...
9992        0.660544
11831       1.815067
11832       1.386364
11833       1.913680
11834       2.966313

[161 rows x 11 columns]

In [165]:
# Save the filtered data to a new CSV file
weekly_data.to_csv('filtered_weather_data_2012_2022_RIO.csv', index=False)

print("Filtered weather data saved to 'filtered_weather_data.csv'")

Filtered weather data saved to 'filtered_weather_data.csv'