In [47]:
import pandas as pd

In [48]:
file_path = 'data/stations_RIO.csv'  # Ensure this file contains latitude, longitude, and city data
df = pd.read_csv(file_path) 

file_path3 = 'data/weather_sum_all.csv'
df2 = pd.read_csv(file_path3)

In [49]:
print(df2)

        ESTACAO DATA (YYYY-MM-DD)  rain_max  rad_max   temp_avg  temp_max  \
0          A001        2000-05-07       0.0   2915.0  25.125000      28.3
1          A001        2000-05-08       0.0   3126.0  22.104167      28.2
2          A001        2000-05-09       0.0   2901.0  22.041667      28.7
3          A001        2000-05-10       0.0   2972.0  22.462500      28.9
4          A001        2000-05-11       0.0   2958.0  21.329167      27.3
...         ...               ...       ...      ...        ...       ...
2740766    A898        2023-08-27       0.0   3083.2   6.962500      14.7
2740767    A898        2023-08-28       0.0   2891.9   8.795833      15.5
2740768    A898        2023-08-29       0.0   2833.8  10.954167      18.8
2740769    A898        2023-08-30       0.2   3102.5  12.500000      21.7
2740770    A898        2023-08-31       0.0   3007.6  15.400000      23.0

         temp_min  hum_max  hum_min  wind_max  wind_avg
0            20.7     69.0     36.0       6.3  1.766667
1            16.5     86.0     33.0       7.1  2.066667
2            16.6     79.0     37.0       7.0  1.150000
3            17.7     82.0     35.0       6.3  2.008333
4            16.6     80.0     35.0       7.3  2.670833
...           ...      ...      ...       ...       ...
2740766       0.5     99.0     39.0       8.9  3.387500
2740767       3.5     96.0     54.0       9.8  4.325000
2740768       5.1     95.0     46.0      11.3  4.233333
2740769       5.5     99.0     39.0       6.8  2.933333
2740770       8.8     99.0     45.0       8.1  3.091667

[2740771 rows x 11 columns]

In [50]:
df2 = df2.rename(columns={'DATA (YYYY-MM-DD)': 'DATA'})

In [51]:
df2['DATA'] = pd.to_datetime(df2['DATA'], errors='coerce')
# Check if there are any NaT values after conversion
print(df2[df2['DATA'].isna()])

# Display the processed dataframe
print(df2)

Empty DataFrame
Columns: [ESTACAO, DATA, rain_max, rad_max, temp_avg, temp_max, temp_min, hum_max, hum_min, wind_max, wind_avg]
Index: []
        ESTACAO       DATA  rain_max  rad_max   temp_avg  temp_max  temp_min  \
0          A001 2000-05-07       0.0   2915.0  25.125000      28.3      20.7
1          A001 2000-05-08       0.0   3126.0  22.104167      28.2      16.5
2          A001 2000-05-09       0.0   2901.0  22.041667      28.7      16.6
3          A001 2000-05-10       0.0   2972.0  22.462500      28.9      17.7
4          A001 2000-05-11       0.0   2958.0  21.329167      27.3      16.6
...         ...        ...       ...      ...        ...       ...       ...
2740766    A898 2023-08-27       0.0   3083.2   6.962500      14.7       0.5
2740767    A898 2023-08-28       0.0   2891.9   8.795833      15.5       3.5
2740768    A898 2023-08-29       0.0   2833.8  10.954167      18.8       5.1
2740769    A898 2023-08-30       0.2   3102.5  12.500000      21.7       5.5
2740770    A898 2023-08-31       0.0   3007.6  15.400000      23.0       8.8

         hum_max  hum_min  wind_max  wind_avg
0           69.0     36.0       6.3  1.766667
1           86.0     33.0       7.1  2.066667
2           79.0     37.0       7.0  1.150000
3           82.0     35.0       6.3  2.008333
4           80.0     35.0       7.3  2.670833
...          ...      ...       ...       ...
2740766     99.0     39.0       8.9  3.387500
2740767     96.0     54.0       9.8  4.325000
2740768     95.0     46.0      11.3  4.233333
2740769     99.0     39.0       6.8  2.933333
2740770     99.0     45.0       8.1  3.091667

[2740771 rows x 11 columns]

In [52]:
print(df2['DATA'].dtype)

datetime64[ns]

In [53]:

# Define the date range
start_date = pd.to_datetime('2012-01-01')
end_date = pd.to_datetime('2022-12-31')

# Filter the data to include only dates within the range
df2 = df2[(df2['DATA'] >= start_date) & (df2['DATA'] <= end_date)]

# Display the filtered data to ensure correctness
print(df2)

        ESTACAO       DATA  rain_max  rad_max   temp_avg  temp_max  temp_min  \
736378     A001 2012-01-01       2.6   3032.9  20.462500      25.2      17.9
736379     A001 2012-01-02       6.2   1096.2  19.191667      20.8      18.3
736380     A001 2012-01-03       6.0   2150.2  19.429167      24.1      17.8
736381     A001 2012-01-04       0.2   3443.6  20.166667      25.9      15.6
736382     A001 2012-01-05       0.0   3703.5  20.654167      26.5      16.5
...         ...        ...       ...      ...        ...       ...       ...
2621042    A898 2022-12-27       0.2   3089.5  21.166667      28.6      16.6
2621043    A898 2022-12-28       1.6   3631.9  19.491667      24.2      16.8
2621044    A898 2022-12-29       0.0   3864.0  19.920833      26.2      13.8
2621045    A898 2022-12-30       0.0   3816.9  20.104167      27.9      12.3
2621046    A898 2022-12-31       0.0   4202.6  21.683333      29.1      15.1

         hum_max  hum_min  wind_max  wind_avg
736378      96.0     64.0      11.9  3.800000
736379      96.0     80.0      16.0  4.404167
736380      96.0     58.0       8.3  2.139130
736381      97.0     54.0       8.0  2.529167
736382      94.0     52.0       9.0  3.183333
...          ...      ...       ...       ...
2621042     97.0     48.0      12.7  3.629167
2621043     96.0     52.0      13.4  4.150000
2621044     77.0     30.0       8.0  2.354167
2621045     96.0     33.0       9.0  3.195833
2621046     96.0     37.0       9.1  3.554167

[1884669 rows x 11 columns]

In [54]:
file_path = 'data/stations_RIO.csv'  # Ensure this file contains latitude, longitude, and city data
df3 = pd.read_csv(file_path) 
# Filter the weather data to include only rows where 'ESTACAO' matches 'id_station' from stations_rj.dengue_cases_data
df2 = df2[df2['ESTACAO'].isin(df3['id_station'])]

print(df2)

        ESTACAO       DATA  rain_max  rad_max   temp_avg  temp_max  temp_min  \
854199     A603 2012-01-01       NaN    601.3  23.962500      25.5      22.7
854200     A603 2012-01-02       NaN    776.8  21.383333      23.8      20.2
854201     A603 2012-01-03       NaN   3801.1  22.600000      29.8      17.4
854202     A603 2012-01-04       NaN   2782.1  22.966667      28.9      18.3
854203     A603 2012-01-05       NaN   3611.2  23.820833      30.1      17.7
...         ...        ...       ...      ...        ...       ...       ...
2580109    A667 2022-12-27       1.2   3906.0  26.987500      33.3      21.7
2580110    A667 2022-12-28      17.2   3362.8  26.745833      32.7      22.8
2580111    A667 2022-12-29      10.2   2802.8  26.945833      33.1      22.7
2580112    A667 2022-12-30       7.2    761.7  22.716667      23.9      20.6
2580113    A667 2022-12-31       3.2   3620.4  24.670833      30.6      20.5

         hum_max  hum_min  wind_max  wind_avg
854199      96.0     88.0       3.9  0.570833
854200      96.0     91.0       4.2  0.450000
854201      96.0     48.0      10.0  1.233333
854202      96.0     60.0       6.9  0.775000
854203      97.0     55.0       8.6  0.929167
...          ...      ...       ...       ...
2580109     92.0     42.0      11.1  2.145833
2580110     92.0     45.0      12.6  1.237500
2580111     92.0     44.0      10.7  2.083333
2580112     92.0     74.0       5.7  1.041667
2580113     92.0     52.0       9.5  2.025000

[81818 rows x 11 columns]

In [55]:
columns_to_check = [
    'ESTACAO', 
    'rain_max'
]

# Count NaN values in the specified columns
nan_counts = df2[columns_to_check].isna().sum()

# Display the number of NaN values in each specified column
print(nan_counts)

ESTACAO        0
rain_max    1269
dtype: int64

In [16]:
df2 =df2.drop(columns=['rad_max'])

In [11]:
df2['week'] = df2['DATA'].dt.strftime('%Y%U')

In [17]:
dates = pd.read_csv('data/dates.csv')
dates.head()
dates.shape

(574, 2)

In [56]:
df2.head()
result = df2[['ESTACAO', 'DATA', 'rain_max']]
result.head()
result.to_csv('rain_data.dengue_cases_data', index=False)

In [32]:
# Convert 'DATA' in df2 to datetime if not already
df2['DATA'] = pd.to_datetime(df2['DATA'])

# Convert 'date' in daes to datetime if not already
dates['date'] = pd.to_datetime(dates['date'])

# Create a date range column in 'daes' for easier matching
dates['start_date'] = dates['date']  # assuming each date in 'dates' marks the start of the week
dates['end_date'] = dates['start_date'] + pd.Timedelta(days=6)  # each week lasts 7 days
dates.head(10)
df2 = df2[['ESTACAO', 'DATA', 'rain_max']]

df2.to_csv('out_tempo.dengue_cases_data', index=False)
dates.to_csv('dates.dengue_cases_data', index=False)

In [25]:
# Function to get the corresponding week for each 'DATA' in df2
def get_week(date):
    for _, row in dates.iterrows():
        if row['start_date'] <= date <= row['end_date']:
            return int(row['week'])
    return None  # In case no week is found

# Apply this function to the 'DATA' column of df2
df2['week'] = df2['DATA'].apply(get_week)

# Check the result
print(df2.head(15))

KeyboardInterrupt:

In [33]:
updated_csv = pd.read_csv('updated_out_tempo.dengue_cases_data')

In [34]:
cleaned_csv = updated_csv.dropna(subset=['rain_max'])
cleaned_csv.head()

   ESTACAO        DATA  rain_max      week
70    A603  2012-04-11       0.0  201215.0
71    A603  2012-04-12       0.4  201215.0
72    A603  2012-04-13       0.2  201215.0
73    A603  2012-04-14       0.0  201215.0
74    A603  2012-04-15       0.4  201216.0

In [35]:
# Group by ESTACAO and week, then calculate max and mean precipitation
weekly_stats = cleaned_csv.groupby(['ESTACAO', 'week'])['rain_max'].agg(
    precipitation_max='max',
    precipitation_avg='mean'
).reset_index()

# Select only the required columns, including week
result = weekly_stats[['ESTACAO', 'week', 'precipitation_max', 'precipitation_avg']]

# Save the result to a new CSV file
result.to_csv('weekly_precipitation_drop.dengue_cases_data', index=False)

In [4]:
df2.isnull().sum()

ESTACAO        0
DATA           0
rain_max    1269
temp_avg       4
temp_max      24
temp_min      25
hum_max     1064
hum_min     1231
wind_max    2384
wind_avg    2345
week          92
dtype: int64

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81792 entries, 0 to 81791
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ESTACAO   81792 non-null  object
 1   DATA      81792 non-null  object
 2   rain_max  80523 non-null  float64
 3   temp_avg  81788 non-null  float64
 4   temp_max  81768 non-null  float64
 5   temp_min  81767 non-null  float64
 6   hum_max   80728 non-null  float64
 7   hum_min   80561 non-null  float64
 8   wind_max  79408 non-null  float64
 9   wind_avg  79447 non-null  float64
 10  week      81700 non-null  float64
dtypes: float64(9), object(2)
memory usage: 6.9+ MB

In [6]:
from sklearn.impute import KNNImputer

# Sample grouped KNN Imputation with tracking statistics
def knn_impute_by_group(df, group_col, k=5):
    imputer = KNNImputer(n_neighbors=k)
    imputed_dfs = []  # To store imputed groups
    imputed_stats = []  # To track stats for imputed values
    
    for region, group in df.groupby(group_col):
        # Identify missing values
        group_numeric = group.select_dtypes(include='number')
        missing_mask = group_numeric.isnull()

        # Perform KNN Imputation
        group_imputed = pd.DataFrame(
            imputer.fit_transform(group_numeric),
            columns=group_numeric.columns,
            index=group_numeric.index
        )
        
        # Calculate imputed values only
        imputed_only = group_imputed.where(missing_mask)  # Keeps only imputed values
        mean_imputed = imputed_only.mean(skipna=True)     # Mean of imputed values
        count_imputed = imputed_only.notnull().sum()      # Count of imputed values
        
        # Append stats to a list
        stats = {'region': region, 'mean_imputed': mean_imputed, 'count_imputed': count_imputed}
        imputed_stats.append(stats)
        
        # Update group with imputed values
        group.loc[:, group_numeric.columns] = group_imputed
        imputed_dfs.append(group)
    
    # Combine all groups back together
    imputed_df = pd.concat(imputed_dfs)

    total_imputed = sum(stat['count_imputed'].sum() for stat in imputed_stats)

    
    # Return imputed DataFrame and statistics
    return imputed_df, imputed_stats , total_imputed

# Example usage
df, imputed_stats ,total_imputed= knn_impute_by_group(df2, group_col='ESTACAO', k=5)

print(total_imputed)

# Print overall statistics
for stat in imputed_stats:
    print(f"Region: {stat['region']}")
    print("Mean of Imputed Values:")
    print(stat['mean_imputed'])
    print("Count of Imputed Values:")
    print(stat['count_imputed'])
    print("-" * 30)

8438
Region: A601
Mean of Imputed Values:
rain_max         1.089587
temp_avg              NaN
temp_max              NaN
temp_min              NaN
hum_max               NaN
hum_min               NaN
wind_max              NaN
wind_avg              NaN
week        201946.100000
dtype: float64
Count of Imputed Values:
rain_max    121
temp_avg      0
temp_max      0
temp_min      0
hum_max       0
hum_min       0
wind_max      0
wind_avg      0
week          4
dtype: int64
------------------------------
Region: A602
Mean of Imputed Values:
rain_max              NaN
temp_avg              NaN
temp_max              NaN
temp_min              NaN
hum_max         86.000000
hum_min         58.934278
wind_max        10.451311
wind_avg         3.200884
week        201733.550000
dtype: float64
Count of Imputed Values:
rain_max      0
temp_avg      0
temp_max      0
temp_min      0
hum_max     267
hum_min     353
wind_max    389
wind_avg    389
week          4
dtype: int64
------------------------------
Region: A603
Mean of Imputed Values:
rain_max         1.866667
temp_avg              NaN
temp_max              NaN
temp_min              NaN
hum_max         97.633333
hum_min         62.058333
wind_max              NaN
wind_avg              NaN
week        201835.650000
dtype: float64
Count of Imputed Values:
rain_max    129
temp_avg      0
temp_max      0
temp_min      0
hum_max      24
hum_min      24
wind_max      0
wind_avg      0
week          4
dtype: int64
------------------------------
Region: A604
Mean of Imputed Values:
rain_max         0.547000
temp_avg              NaN
temp_max              NaN
temp_min              NaN
hum_max         98.162500
hum_min         86.225000
wind_max         6.397938
wind_avg         1.012953
week        201836.050000
dtype: float64
Count of Imputed Values:
rain_max    80
temp_avg     0
temp_max     0
temp_min     0
hum_max     16
hum_min     16
wind_max    97
wind_avg    97
week         4
dtype: int64
------------------------------
Region: A606
Mean of Imputed Values:
rain_max         0.361754
temp_avg              NaN
temp_max        27.170000
temp_min        24.020000
hum_max         84.021111
hum_min         64.043621
wind_max        11.404839
wind_avg         4.792234
week        201846.300000
dtype: float64
Count of Imputed Values:
rain_max    114
temp_avg      0
temp_max      2
temp_min      2
hum_max     180
hum_min     243
wind_max     62
wind_avg     60
week          4
dtype: int64
------------------------------
Region: A607
Mean of Imputed Values:
rain_max         1.815484
temp_avg              NaN
temp_max              NaN
temp_min              NaN
hum_max               NaN
hum_min               NaN
wind_max         9.382222
wind_avg         2.701815
week        201912.800000
dtype: float64
Count of Imputed Values:
rain_max    31
temp_avg     0
temp_max     0
temp_min     0
hum_max      0
hum_min      0
wind_max    90
wind_avg    90
week         4
dtype: int64
------------------------------
Region: A608
Mean of Imputed Values:
rain_max          NaN
temp_avg          NaN
temp_max          NaN
temp_min          NaN
hum_max           NaN
hum_min           NaN
wind_max         9.26
wind_avg          NaN
week        201785.95
dtype: float64
Count of Imputed Values:
rain_max    0
temp_avg    0
temp_max    0
temp_min    0
hum_max     0
hum_min     0
wind_max    3
wind_avg    0
week        4
dtype: int64
------------------------------
Region: A609
Mean of Imputed Values:
rain_max         3.44
temp_avg          NaN
temp_max          NaN
temp_min          NaN
hum_max           NaN
hum_min           NaN
wind_max         5.18
wind_avg          NaN
week        201664.20
dtype: float64
Count of Imputed Values:
rain_max    1
temp_avg    0
temp_max    0
temp_min    0
hum_max     0
hum_min     0
wind_max    1
wind_avg    0
week        4
dtype: int64
------------------------------
Region: A610
Mean of Imputed Values:
rain_max         1.066667
temp_avg        11.741996
temp_max        16.270000
temp_min         8.590000
hum_max         99.196364
hum_min         78.996364
wind_max        13.227057
wind_avg         4.179266
week        201781.300000
dtype: float64
Count of Imputed Values:
rain_max     15
temp_avg      2
temp_max      2
temp_min      2
hum_max      55
hum_min      55
wind_max    581
wind_avg    581
week          4
dtype: int64
------------------------------
Region: A611
Mean of Imputed Values:
rain_max         0.130411
temp_avg              NaN
temp_max        33.340000
temp_min        21.940000
hum_max         92.600000
hum_min         46.800000
wind_max         8.180000
wind_avg              NaN
week        201688.700000
dtype: float64
Count of Imputed Values:
rain_max    73
temp_avg     0
temp_max     1
temp_min     1
hum_max      1
hum_min      1
wind_max     1
wind_avg     0
week         4
dtype: int64
------------------------------
Region: A618
Mean of Imputed Values:
rain_max           NaN
temp_avg           NaN
temp_max        24.245
temp_min        16.640
hum_max         96.200
hum_min         71.110
wind_max         5.390
wind_avg           NaN
week        201801.650
dtype: float64
Count of Imputed Values:
rain_max     0
temp_avg     0
temp_max     4
temp_min     4
hum_max     20
hum_min     20
wind_max     4
wind_avg     0
week         4
dtype: int64
------------------------------
Region: A619
Mean of Imputed Values:
rain_max         1.095407
temp_avg        23.452500
temp_max        29.265714
temp_min        23.431429
hum_max         79.314286
hum_min         51.600000
wind_max         6.340000
wind_avg              NaN
week        201616.550000
dtype: float64
Count of Imputed Values:
rain_max    135
temp_avg      1
temp_max      7
temp_min      7
hum_max       7
hum_min       7
wind_max      8
wind_avg      0
week          4
dtype: int64
------------------------------
Region: A620
Mean of Imputed Values:
rain_max         0.413857
temp_avg              NaN
temp_max        28.840000
temp_min        23.940000
hum_max         94.309774
hum_min         79.072464
wind_max        11.853208
wind_avg         3.818781
week        201836.150000
dtype: float64
Count of Imputed Values:
rain_max    280
temp_avg      0
temp_max      1
temp_min      1
hum_max     133
hum_min     138
wind_max     53
wind_avg     52
week          4
dtype: int64
------------------------------
Region: A621
Mean of Imputed Values:
rain_max         0.979259
temp_avg              NaN
temp_max              NaN
temp_min        24.500000
hum_max         91.133333
hum_min         50.520000
wind_max         7.880000
wind_avg         2.518718
week        201962.250000
dtype: float64
Count of Imputed Values:
rain_max    54
temp_avg     0
temp_max     0
temp_min     1
hum_max      3
hum_min      5
wind_max     1
wind_avg     1
week         4
dtype: int64
------------------------------
Region: A624
Mean of Imputed Values:
rain_max         1.673373
temp_avg              NaN
temp_max        26.860000
temp_min        23.480000
hum_max         37.146667
hum_min         21.265116
wind_max         9.061105
wind_avg         2.537815
week        201527.850000
dtype: float64
Count of Imputed Values:
rain_max    169
temp_avg      0
temp_max      2
temp_min      2
hum_max      30
hum_min      43
wind_max    507
wind_avg    493
week          4
dtype: int64
------------------------------
Region: A625
Mean of Imputed Values:
rain_max              NaN
temp_avg              NaN
temp_max        29.500000
temp_min        20.780000
hum_max         94.300000
hum_min         58.712500
wind_max         6.233750
wind_avg         1.054286
week        202007.750000
dtype: float64
Count of Imputed Values:
rain_max     0
temp_avg     0
temp_max     1
temp_min     1
hum_max     16
hum_min     16
wind_max    16
wind_avg    14
week         4
dtype: int64
------------------------------
Region: A626
Mean of Imputed Values:
rain_max              NaN
temp_avg              NaN
temp_max              NaN
temp_min              NaN
hum_max         95.517949
hum_min         53.794872
wind_max         7.790836
wind_avg         1.489365
week        202020.200000
dtype: float64
Count of Imputed Values:
rain_max      0
temp_avg      0
temp_max      0
temp_min      0
hum_max      39
hum_min      39
wind_max    275
wind_avg    275
week          4
dtype: int64
------------------------------
Region: A627
Mean of Imputed Values:
rain_max          NaN
temp_avg          NaN
temp_max    25.180000
temp_min    20.740000
hum_max     82.640000
hum_min     42.988000
wind_max     8.395556
wind_avg     1.498908
week              NaN
dtype: float64
Count of Imputed Values:
rain_max     0
temp_avg     0
temp_max     1
temp_min     1
hum_max     50
hum_min     50
wind_max    36
wind_avg    34
week         0
dtype: int64
------------------------------
Region: A628
Mean of Imputed Values:
rain_max          NaN
temp_avg          NaN
temp_max          NaN
temp_min          NaN
hum_max         94.25
hum_min         63.95
wind_max          NaN
wind_avg          NaN
week        201947.05
dtype: float64
Count of Imputed Values:
rain_max    0
temp_avg    0
temp_max    0
temp_min    0
hum_max     8
hum_min     8
wind_max    0
wind_avg    0
week        4
dtype: int64
------------------------------
Region: A629
Mean of Imputed Values:
rain_max          NaN
temp_avg          NaN
temp_max          NaN
temp_min          NaN
hum_max     95.879290
hum_min     50.738462
wind_max          NaN
wind_avg          NaN
week              NaN
dtype: float64
Count of Imputed Values:
rain_max      0
temp_avg      0
temp_max      0
temp_min      0
hum_max     169
hum_min     169
wind_max      0
wind_avg      0
week          0
dtype: int64
------------------------------
Region: A630
Mean of Imputed Values:
rain_max     0.148571
temp_avg          NaN
temp_max    20.900000
temp_min    14.240000
hum_max     97.900000
hum_min     74.200000
wind_max     5.580000
wind_avg          NaN
week              NaN
dtype: float64
Count of Imputed Values:
rain_max    28
temp_avg     0
temp_max     1
temp_min     1
hum_max      4
hum_min      2
wind_max     1
wind_avg     0
week         0
dtype: int64
------------------------------
Region: A635
Mean of Imputed Values:
rain_max              NaN
temp_avg              NaN
temp_max              NaN
temp_min              NaN
hum_max         96.210811
hum_min         66.032432
wind_max         9.748926
wind_avg         2.694278
week        201998.450000
dtype: float64
Count of Imputed Values:
rain_max      0
temp_avg      0
temp_max      0
temp_min      0
hum_max      37
hum_min      37
wind_max    242
wind_avg    242
week          4
dtype: int64
------------------------------
Region: A636
Mean of Imputed Values:
rain_max         NaN
temp_avg         NaN
temp_max         NaN
temp_min         NaN
hum_max          NaN
hum_min          NaN
wind_max         NaN
wind_avg         NaN
week        201901.6
dtype: float64
Count of Imputed Values:
rain_max    0
temp_avg    0
temp_max    0
temp_min    0
hum_max     0
hum_min     0
wind_max    0
wind_avg    0
week        4
dtype: int64
------------------------------
Region: A637
Mean of Imputed Values:
rain_max   NaN
temp_avg   NaN
temp_max   NaN
temp_min   NaN
hum_max    NaN
hum_min    NaN
wind_max   NaN
wind_avg   NaN
week       NaN
dtype: float64
Count of Imputed Values:
rain_max    0
temp_avg    0
temp_max    0
temp_min    0
hum_max     0
hum_min     0
wind_max    0
wind_avg    0
week        0
dtype: int64
------------------------------
Region: A652
Mean of Imputed Values:
rain_max         0.368889
temp_avg              NaN
temp_max              NaN
temp_min              NaN
hum_max         94.866667
hum_min         66.200000
wind_max        10.465000
wind_avg         2.882826
week        201784.700000
dtype: float64
Count of Imputed Values:
rain_max     9
temp_avg     0
temp_max     0
temp_min     0
hum_max      3
hum_min      3
wind_max    16
wind_avg    16
week         4
dtype: int64
------------------------------
Region: A659
Mean of Imputed Values:
rain_max          NaN
temp_avg          NaN
temp_max          NaN
temp_min          NaN
hum_max           NaN
hum_min           NaN
wind_max          NaN
wind_avg          NaN
week        201849.75
dtype: float64
Count of Imputed Values:
rain_max    0
temp_avg    0
temp_max    0
temp_min    0
hum_max     0
hum_min     0
wind_max    0
wind_avg    0
week        4
dtype: int64
------------------------------
Region: A667
Mean of Imputed Values:
rain_max         0.733333
temp_avg        23.917333
temp_max        29.520000
temp_min        20.020000
hum_max         90.500000
hum_min         51.900000
wind_max         9.460000
wind_avg         2.282500
week        201907.300000
dtype: float64
Count of Imputed Values:
rain_max    30
temp_avg     1
temp_max     2
temp_min     2
hum_max      2
hum_min      2
wind_max     1
wind_avg     1
week         4
dtype: int64
------------------------------

In [7]:
df.head(10)

,ESTACAO,DATA,rain_max,temp_avg,temp_max,temp_min,hum_max,hum_min,wind_max,wind_avg,week
366,A601,2012-01-01,3.2,24.475000,28.5,22.9,99.0,71.0,8.6,1.591667,201201.0
367,A601,2012-01-02,29.6,21.395833,23.6,20.4,100.0,96.0,7.9,1.345833,201201.0
368,A601,2012-01-03,0.0,22.887500,28.6,18.1,100.0,55.0,9.5,2.158333,201201.0
369,A601,2012-01-04,0.0,23.825000,29.1,19.9,98.0,63.0,10.5,2.758333,201201.0
370,A601,2012-01-05,0.0,24.258333,31.1,18.8,98.0,55.0,10.2,3.016667,201201.0
371,A601,2012-01-06,66.2,24.591667,33.6,19.4,100.0,53.0,19.1,2.420833,201201.0
372,A601,2012-01-07,0.2,25.616667,31.0,21.5,96.0,48.0,10.6,2.970833,201201.0
373,A601,2012-01-08,2.4,24.266667,30.3,21.6,98.0,61.0,8.8,1.237500,201202.0
374,A601,2012-01-09,1.2,23.500000,27.2,21.1,99.0,66.0,8.6,1.983333,201202.0
375,A601,2012-01-10,7.6,23.841667,28.2,20.2,99.0,65.0,11.1,1.983333,201202.0

In [8]:
df.isnull().sum()

ESTACAO     0
DATA        0
rain_max    0
temp_avg    0
temp_max    0
temp_min    0
hum_max     0
hum_min     0
wind_max    0
wind_avg    0
week        0
dtype: int64

In [9]:
# Define aggregation logic for the required statistics
df2= df
aggregation = {
    'rain_max': ['mean', 'max'],  # Calculate average and maximum precipitation
    'temp_avg': 'mean',          # Average temperature
    'temp_max': 'max',           # Maximum temperature
    'temp_min': 'min',           # Minimum temperature
    'hum_max': 'max',            # Maximum humidity
    'hum_min': 'min',            # Minimum humidity
    'wind_max': 'max',           # Maximum wind speed
    'wind_avg': 'mean'           # Average wind speed
}

# Group by 'ESTACAO' and 'week' and apply aggregation
weekly_data = df2.groupby(['ESTACAO', 'week']).agg(aggregation)

# Flatten the multi-level columns
weekly_data.columns = ['_'.join(col).strip() for col in weekly_data.columns.values]

# Rename precipitation columns for clarity
weekly_data = weekly_data.rename(columns={
    'rain_max_mean': 'precipitation_avg',
    'rain_max_max': 'precipitation_max'
}).reset_index()

# Display the final aggregated DataFrame
print(weekly_data.head())

  ESTACAO      week  precipitation_avg  precipitation_max  temp_avg_mean  \
0    A601  201201.0          14.171429               66.2      23.864286
1    A601  201202.0           5.057143               22.8      25.220238
2    A601  201203.0           2.428571                7.0      26.188095
3    A601  201204.0           1.028571                2.8      25.851786
4    A601  201205.0           2.400000               13.0      25.044048

   temp_max_max  temp_min_min  hum_max_max  hum_min_min  wind_max_max  \
0          33.6          18.1        100.0         48.0          19.1
1          35.5          19.2        100.0         46.0          24.2
2          34.6          21.7         99.0         39.0          12.8
3          35.0          18.9         99.0         34.0          12.5
4          34.2          18.6        100.0         35.0          13.0

   wind_avg_mean
0       2.323214
1       2.076190
2       2.236310
3       2.719048
4       2.305952

In [163]:
# Filter for rows where either precipitation_avg or precipitation_max is NaN
missing_precipitation = weekly_data[weekly_data['precipitation_avg'].isna() | weekly_data['precipitation_max'].isna()]

# Display the rows with NaN in either column
print(missing_precipitation)

      ESTACAO    week  precipitation_avg  precipitation_max  temp_avg_mean  \
9        A601  201210                NaN                NaN      25.714881
10       A601  201211                NaN                NaN      25.825000
11       A601  201212                NaN                NaN      25.030202
12       A601  201213                NaN                NaN      24.473810
13       A601  201214                NaN                NaN      25.083333
...       ...     ...                ...                ...            ...
9992     A630  202125                NaN                NaN      20.436735
11831    A667  202044                NaN                NaN      22.151187
11832    A667  202045                NaN                NaN      25.533247
11833    A667  202046                NaN                NaN      25.468333
11834    A667  202047                NaN                NaN      26.757749

       temp_max_max  temp_min_min  hum_max_max  hum_min_min  wind_max_max  \
9              34.7          19.2         99.0         40.0          12.3
10             36.4          19.7         99.0         38.0          12.3
11             36.6          19.2         99.0         38.0          12.7
12             34.5          18.8        100.0         48.0          15.8
13             33.1          20.3        100.0         48.0          12.7
...             ...           ...          ...          ...           ...
9992           24.7          12.5        100.0         48.0           7.1
11831          26.3          14.8         95.0         44.0          11.0
11832          28.7          21.1         94.0         62.0           6.3
11833          32.6          17.5         95.0         50.0          12.7
11834          32.9          17.9         94.0         44.0          10.7

       wind_avg_mean
9           2.236905
10          2.493452
11          1.994281
12          1.875595
13          2.215476
...              ...
9992        0.660544
11831       1.815067
11832       1.386364
11833       1.913680
11834       2.966313

[161 rows x 11 columns]

In [11]:
# Save the filtered data to a new CSV file
weekly_data.to_csv('filtered_weather_data_2012_2022_RIO.dengue_cases_data', index=False)

print("Filtered weather data saved to 'filtered_weather_data.dengue_cases_data'")

Filtered weather data saved to 'filtered_weather_data.csv'